html { 
  background: url(../images/mainbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  color: rgb(255, 140, 0);

}
h2 {
  text-align: center;
  color:rgb(255, 140, 0);
  margin-bottom: 40px;
}

div {
  display: flex;
  justify-content: space-around;
  
}
img {
  border-radius: 20px;

}
/* div {
  border: 1px solid blue;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin-right: 5%;
} */

/* table {
  border: solid 2px gray;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.694);
} */

