html { 
background: url(../images/mainbackground.jpg) no-repeat center center fixed; 
background-size: cover;
}

h1 {
text-align: center;
color: rgb(250, 104, 71);
font-size: 80px; 
}

h2 {
text-align: center;
color: rgb(250, 104, 71);
margin-bottom: 40px;
}

div {
display: flex;
justify-content: space-around;
flex-flow: row wrap;
}
